*.o
*.xml
*.iml
*.cmake
*.log
*.swp
*.pyc
*.pyo
*.class
*.jar
*.war
*.ear
*.dll
*.exe
*.so
*.dylib
*.a
*.lib
*.obj
*.pdb
*.dSYM
*.cache
*.tmp
*.bak
*.zip
*.tar.gz
*.bin
/build/
.name
/cmake-build-debug/
/cmake-build-release/
/.idea/
/.vscode/
/.DS_Store
/.vagrant/
/.gradle/
/.settings/
/.project
/.classpath
/.mvn/
/.idea_modules/
/.tox/
/.pytest_cache/
/.coverage
/resources/kernels_map/